<template>
  <q-page padding>
    <div class="row justify-center">
      <create-note @new-note="onNewNote" />
    </div>
    <div class="row q-mt-lg">
      <notes />
    </div>
    <component
      v-if="showDialog"
      :show.sync="showDialog"
      :is="getComponentDialogNote"
    />
  </q-page>
</template>

<script>
import CreateNote from 'src/components/CreateNote'
import Notes from 'src/components/Notes'
import IndexMixin from './IndexMixin'

export default {
  name: 'PageIndex',
  components: {
    CreateNote,
    Notes
  },
  mixins: [
    IndexMixin
  ]
}
</script>
