<template>
  <q-toolbar
    class="card rounded-borders shadow-4 q-mt-lg"
  >
    <q-toolbar-title
      class="text-grey-6 text-weight-medium cursor-pointer"
      @click.native="onClickCreateNote"
    >
      Crear una nota...
    </q-toolbar-title>
    <q-btn flat round
      @click="onClickCheckbox"
      icon="check_box"
    >
      <q-tooltip>
        Nueva lista
      </q-tooltip>
    </q-btn>
    <q-btn flat round
      @click="onClickPaint"
      icon="brush"
    >
      <q-tooltip>
        Nueva nota con dibujo
      </q-tooltip>
    </q-btn>
    <q-btn flat round
      @click="onClickImage"
      icon="photo"
    >
      <q-tooltip>
        Nota nueva con imagen
      </q-tooltip>
    </q-btn>
  </q-toolbar>
</template>

<script>
import {
  QToolbar,
  QToolbarTitle,
  QBtn,
  QTooltip
} from 'quasar'
import CreateNoteMixin from './CreateNoteMixin'

export default {
  name: 'CreateNote',
  components: {
    QToolbar,
    QToolbarTitle,
    QBtn,
    QTooltip
  },
  mixins: [
    CreateNoteMixin
  ]
}
</script>

<style lang="stylus" scoped>
.card
  width 40%
</style>
