<template>
  <q-dialog
    v-model="isShow"
    :maximized="$q.platform.is.mobile"
    @show="onShowDialog"
  >
    <q-card style="min-width: 60%">
      <q-card-section>
        <div class="row justify-between">
          <q-input dense borderless
            v-model="form.title"
            placeholder="Título"
            class="col"
          />
          <q-btn flat round
            icon="fas fa-thumbtack"
            color="grey-7"
          >
            <q-tooltip>
              Fijar nota
            </q-tooltip>
          </q-btn>
        </div>
        <q-input borderless
          v-model="form.content"
          placeholder="Crear una nota..."
          type="textarea"
          ref="txtContent"
        />
      </q-card-section>
      <q-card-actions class="text-grey-7">
        <q-btn flat round
          icon="notifications"
        >
          <q-tooltip>
            Recordarme
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="person_add"
        >
          <q-tooltip>
            Colaborador
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="color_lens"
        >
          <q-tooltip>
            Cambiar color
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="photo"
        >
          <q-tooltip>
            Agregar imagen
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="move_to_inbox"
        >
          <q-tooltip>
            Archivar
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="more_vert"
        >
          <q-menu>
            <q-list>
              <q-item clickable v-close-popup>
                <q-item-section>
                  Agregar etiqueta
                </q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>
                  Agregar un dibujo
                </q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>
                  Mostrar casillas de verificación
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-space />
        <q-btn flat
          @click="onClickBtnClose"
          label="Cerrar"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {
  QDialog,
  QCard,
  QCardSection,
  QCardActions,
  QInput,
  QBtn,
  QTooltip,
  QSpace,
  QMenu,
  QList,
  QItem,
  QItemSection
} from 'quasar'
import DialogNoteMixin from './DialogNoteMixin'

export default {
  name: 'DilaogNote',
  components: {
    QDialog,
    QCard,
    QCardSection,
    QCardActions,
    QInput,
    QBtn,
    QTooltip,
    QSpace,
    QMenu,
    QList,
    QItem,
    QItemSection
  },
  mixins: [
    DialogNoteMixin
  ],
  props: {
    show: {
      type: Boolean,
      required: true
    }
  }
}
</script>
