<template>
  <q-table grid hide-bottom
    :data="notes"
    :columns="[]"
    :pagination="pagination"
    row-key="id"
    class="layout-masonry"
  >
    <template v-slot:item="props">
      <div class="item-grid">
        <q-card class="shadow-1"
          :class="`${props.row.color ? 'bg-' + props.row.color : ''}`"
        >
          <q-card-section>
            <div
              v-if="props.row.title"
              class="text-h6"
            >
              {{ props.row.title }}
            </div>
            <template
              v-if="props.row.content"
            >
              <q-list
                v-if="props.row.is_list"
              >
                <q-item
                  v-for="item in props.row.content"
                  :key="item.id"
                  class="no-padding"
                >
                  <q-item-section side top>
                    <q-checkbox
                      v-model="item.completed"
                    />
                  </q-item-section>
                  <q-item-section>
                    {{ item.content }}
                  </q-item-section>
                </q-item>
              </q-list>
              <div
                v-else
                class="text-body1"
              >
                {{ props.row.content }}
              </div>
            </template>
          </q-card-section>
          <q-card-section v-if="props.row.tags">
            <q-chip removable
              v-for="tag in props.row.tags"
              :key="tag.id"
              @remove="onRemoveTag(tag)"
              color="grey-2"
            >
              {{ tag.name }}
            </q-chip>
          </q-card-section>
        </q-card>
      </div>
    </template>
  </q-table>
</template>

<script>
import {
  QTable,
  QCard,
  QCardSection,
  QChip,
  QList,
  QItem,
  QItemSection,
  QCheckbox
} from 'quasar'
import NotesMixin from './NotesMixin'

export default {
  name: 'Notes',
  components: {
    QTable,
    QCard,
    QCardSection,
    QChip,
    QList,
    QItem,
    QItemSection,
    QCheckbox
  },
  mixins: [
    NotesMixin
  ]
}
</script>

<style lang="stylus" scoped>
.layout-masonry >>> > .row
  display grid
  grid-gap 10px
  grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
  grid-auto-rows 20px
</style>
