<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated
      class="bg-white text-grey-7"
    >
      <q-toolbar class="toolbar">
        <q-btn flat dense round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-img
          class="q-ml-md logo"
          src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
        />
        <q-toolbar-title shrink>
          QKeep
        </q-toolbar-title>
        <q-space />
        <q-input outlined dense
          v-model="search"
          color="bg-grey-7 shadow-1"
          placeholder="Buscar"
          class="input-search"
        >
          <template v-slot:prepend>
            <q-icon
              name="search"
            />
          </template>
          <template v-slot:append>
            <q-icon
              v-if="search !== ''"
              @click="search = ''"
              name="clear"
              class="cursor-pointer"
            />
          </template>
        </q-input>
        <q-space />
        <q-btn flat round
          icon="refresh"
        >
          <q-tooltip>
            Actualizar
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="view_list"
        >
          <q-tooltip content-style="width: 78px">
            Vista de lista
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="fas fa-cog"
        >
          <q-tooltip>
            Configuración
          </q-tooltip>
        </q-btn>
        <q-btn flat round
          icon="apps"
          class="q-ml-lg q-mr-md"
        >
          <q-tooltip>
            Aplicaciones
          </q-tooltip>
        </q-btn>
        <q-btn round>
          <q-avatar>
            <img src="https://cdn.quasar.dev/img/avatar.png">
          </q-avatar>
          <q-tooltip>
            <p class="q-ma-none">
              Cuenta de google
            </p>
            <p class="q-ma-none text-weight-bold">
              {{ user.name }}
            </p>
            <p class="q-ma-none text-weight-bold">
              {{ user.email }}
            </p>
          </q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above bordered
      v-model="leftDrawerOpen"
    >
      <q-list class="text-grey-7 q-pt-md">
        <q-item clickable
          tag="a"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-lightbulb" />
          </q-item-section>
          <q-item-section>
            <q-item-label>
              Notas
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable
          tag="a"
        >
          <q-item-section avatar>
            <q-icon name="notifications" />
          </q-item-section>
          <q-item-section>
            <q-item-label>
              Recordatorios
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator class="q-mt-md" />
        <q-item-label header
          class="text-uppercase"
        >
          Etiquetas
        </q-item-label>
        <q-item clickable
          v-for="tag in tags"
          :key="tag.id"
          tag="a"
        >
          <q-item-section avatar>
            <q-icon name="label" />
          </q-item-section>
          <q-item-section>
            <q-item-label>
              {{ tag.name }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import faker from 'faker/locale/es_MX'
import {
  QInput,
  QIcon,
  QSpace,
  QTooltip,
  QAvatar,
  QImg,
  QSeparator
} from 'quasar'

export default {
  name: 'MyLayout',
  components: {
    QInput,
    QIcon,
    QSpace,
    QTooltip,
    QAvatar,
    QImg,
    QSeparator
  },
  data () {
    return {
      leftDrawerOpen: false,
      search: '',
      user: {
        name: faker.name.findName(),
        email: faker.internet.email()
      },
      tags: Array.from(Array(20), (_, x) => {
        return {
          id: faker.random.uuid(),
          name: faker.name.jobTitle()
        }
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
.toolbar
  height 64px
.logo
  width 40px
.input-search
  width 55%
</style>
